{% extends 'base.html' %}

{% block navbar %}
{% endblock %}


{% block content %}
<div id='graph'></div>


{% endblock %}


{% block styles %}

{{ super() }}
<link rel="stylesheet"
      href="{{url_for('.static', filename='colorbrewer.css')}}">

<style>

.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.node-active {
  stroke: #555;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}

.link-active {
  stroke-opacity: 1;  
}

.outer-circle {
  fill-opacity: 0;
  stroke-opacity: 1;
  stroke-width: 3px;
}

#graph {
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
}

/*.link {
  stroke: #ccc;
}*/

/*.node text {
  pointer-events: none;
  font: 8px sans-serif;
  color: white;
  stroke: #000;
}*/

.d3-tip h5 {
  color: white;
}

.d3-tip {
  line-height: 1;
  font-size: x-small;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}


</style>

{% endblock %}

{% block scripts %}

{{ super() }}
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
<script src="{{url_for('.static', filename='colorbrewer.js')}}"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
<script type="text/javascript" src="{{url_for('.static', filename='inspector.js')}}" charset="utf-8"></script>
<script type="text/javascript">

// First time we load...
$(function() {
    $.get('/graph', function(data){
      force = init_graph(data);
    });
});

</script>

{% endblock %}
